.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f7fa;
}

.login-card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 4);
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-pref-width: 240;
    -fx-padding: 8;
    -fx-background-radius: 8;
}

.button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-pref-width: 240;
}

.button:hover {
    -fx-background-color: #1d4ed8;
}

.info {
    -fx-text-fill: red;
}
